.center-block {
  text-align: center;
  display: inline-block;
}
th {
  text-align: center;
}
td a {
  color: black;
}
.btn a {
  color: white;
}
.btn-default a {
  color: #333;
}
.btn-default {
  background-color: #ccc;
}
.message_title {
  height:140px;
}
textarea{
  min-width: 50%;
  min-height: 70%;
}
.btn-wrapper {
  margin-top: 10px;
}
